*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
}

.fim {
    height: 61.19vh;
    background-color: #b40000;
    text-align: center;
    font-size: 6.19vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}