*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
}

.fim {
    height: 602px;
    background-color: #b40000;
    text-align: center;
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}