*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
  }
  .banner{
    width: 100%;
    height: 60vh;
    background-image: url(../../assets/banner.jpeg);
    background-repeat: 1;
    background-size: cover;
    background-position: center center;
  }
  .containerhome{
    width: 100%;
    height: 41.24vh;
    background-color: black;
    display: flex;
    justify-content: center;
    column-gap: 5.15vh;
  }
  .video{
    height: 41.24vh;
  }
  .sinopse{
    width: 35%;
    color: white;
    font-size: 2.37vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 3.61vh;
  }
  .botao {
    background-color: #b40000;
    width: 25.77vh;
    height: 7.22vh;
    font-size: 2.58vh;
    border-radius: 1.55vh;
    color: white;
    transition: 0.5s;
  }
  .botao:hover{
    background-color: white;
    color: black;
    cursor: pointer;
  }
  .actors{
    width: 100%;
    height: 82.47vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    color: white;
    font-size: 2.06vh;
    align-items: center;
  }
  .batman{
    width: 80%;
    height: 61.86vh;
    background-image: url(../../assets/robert.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1vh 1vh;
    transition: 0.5s;
    border-radius: 2.06vh;
  }
  .catwoman{
    width: 80%;
    height: 61.86vh;
    background-image: url(../../assets/zoe.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1vh 1vh;
    transition: 0.5s;
    border-radius: 2.06vh;
  }
  .gordon{
    width: 80%;
    height: 61.86vh;
    background-image: url(../../assets/jeffrey.jpeg);
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1vh 1vh;
    transition: 0.5s;
    border-radius: 2.06vh;
  }
  .batman:hover{
    transform: scale(1.05);
  }
  .catwoman:hover{
    transform: scale(1.05);
  }
  .gordon:hover{
    transform: scale(1.05);
  }
  @media(max-width: 768px){
    .banner{
      background-position: 40%;
    }
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 800px;
    }
    .video{
      width: 100%;
    }
    .sinopse{
      width: 95%;
      display: flex;
      flex-direction: column;
    }
    .botao{
      width: 100%;
    }
    .actors{
      display: grid;
      grid-template-columns: 1fr;
      height: 2000px;
    }
    .batman{
      width: 90%;
      background-position: 62%;
    }
    .catwoman{
      width: 90%;
      background-position: 45%;
    }
    .gordon{
      width: 90%;
    }
  }