*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
}

.containerphoto2 {
    height: 100vh;
    background-color: #000000e7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.previous2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../../../assets/previous.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.next2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../../../assets/next.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photo2 {
    width: 1280px;
    height: 720px;
    background-image: url("../../../assets/imagem2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}